/* @font-face {
    font-family: 'Pokemon-Inspired-Font';
    src: url('fonts/pokemon-inspired-font.ttf') format('truetype');
  } */
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

body{
    /* font-family: 'Pokemon-Inspired-Font', sans-serif; */
    font-family: 'DotGothic16', sans-serif;
    background-image: url(bg.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.count{
    margin-left: 10px;
    margin-top: 30px;
    width: 40%;
    font-size: 40px;
    color: #ffcc00;
    /* text-align: center; */
}
.question{
    
    font-size: 20px;
    margin: 20px 10px;
    color: #005eb6;
    
}

button{
    font-family: 'DotGothic16', sans-serif;
    margin-left: 5px;
    font-size: large;
    color: #ffe787;
    margin-top: 10px;
    border-radius: 20px;
    background-color: rgb(255, 0, 0);
    height: 40px;
    width: 400px;
    cursor: pointer;
}

.number{
    text-align: center;
    
    border-color: red;
    height: 25px;
    width: 40px;
    color: red;
    background-color: #ffe787;
    margin-left: 20px;
    border: none;
}

.index{
    font-family: 'DotGothic16', sans-serif;
    /* font-family: 'Pokemon-Inspired-Font', sans-serif; */
    color: #ffcc00;
    text-shadow: 1px 1px 2px red;
    font-size: large;
}

.poke_name{
    font-size: large;
    text-transform: capitalize;
    color: red;
    font-family: 'DotGothic16', sans-serif;
    /* font-family: 'Pokemon-Inspired-Font', sans-serif; */
}